# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [11]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')


chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [12]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [26]:
# Solution 1
solution = chipo.shape[0]

solution

4622

In [24]:
# Solution 2

print(chipo['order_id'].size)

4622

### Step 6. What is the number of columns in the dataset?

In [29]:
solution = chipo.shape[1]

solution

5

### Step 7. Print the name of all the columns.

In [31]:
column_names = chipo.columns

for column in column_names:
    print(column)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [34]:
chipo.index

# ranged index, meaning automatically set

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [48]:

solution = chipo.groupby(['item_name'])['quantity'].sum().sort_values(ascending = False)

# looks like the chicken bowl the the most ordered item

### Step 10. For the most-ordered item, how many items were ordered?

In [49]:
print(solution[0])

761

/var/folders/hs/6ty1rvvs0gg_7dsvkmnl15dr0000gn/T/ipykernel_95735/579288422.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(solution[0])

### Step 11. What was the most ordered item in the choice_description column?

In [52]:
solution = chipo.groupby(['choice_description'])['quantity'].sum().sort_values(ascending = False)

choice_description
[Diet Coke]                                                                                                                159
[Coke]                                                                                                                     143
[Sprite]                                                                                                                    89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                      49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                               42
                                                                                                                          ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Guacamole, Lettuce]]                                       1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Sour Cream, Lettuce]]                                                   1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Lettuce, Guacamole]]                                              1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cream, Rice, Fajita Vegetables, Lettuce]]                                        1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]      1
Name: quantity, Length: 1043, dtype: int64

### Step 12. How many items were orderd in total?

In [ ]:
# 159

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [62]:
chipo['item_price'].astype

# objects

<bound method NDFrame.astype of 0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64>

#### Step 13.b. Create a lambda function and change the type of item price

In [63]:

# since it is looking at each occurence within the column, we must look at the string, so past the first index
floating  = lambda x: float(x[1:-1])

chipo.item_price = chipo.item_price.apply(floating)

chipo

TypeError: 'float' object is not subscriptable

#### Step 13.c. Check the item price type

In [73]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [76]:
revenue = chipo['quantity'] * chipo.item_price

revenue.sum()

39237.02

### Step 15. How many orders were made in the period?

In [86]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [98]:
# Solution 1

chipo['revenue'] = chipo.quantity * chipo.item_price

grouping = chipo.groupby(['order_id'])['revenue'].sum().mean()

grouping

21.39423118865867

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [100]:
chipo.item_name.value_counts().count()

50